@use "../colors/colors.scss" as *;

.active-point-menu {
  padding: {
    top: 3px;
    bottom: 3px;
    left: 7px;
    right: 7px;
  };
  border-radius: 5px;
  background-color: #000;
}
.active-menu-item {
  padding: {
    top: 3px;
    bottom: 3px;
    left: 7px;
    right: 7px;
  };
  border-radius: 5px;
  background-color: #000;
}
@media screen and (max-width: 1100px) {
  .first-pets-section-data-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    & span {
      font-size: 1rem !important;
    }
  }
  .about-content  {
    flex-direction: column;
    width: 100%;
  }
  .side-about {
    height: fit-content;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: {
      top: 1rem;
      bottom: 1rem;
    };
  }
  .breeder-block {
    row-gap: 10px;
    & span {
      rotate: 0deg;
    }
  }
  .feedback {
    & a {
      row-gap: 10px;
    }
    & a span {
      rotate: 0deg;
    }
  }
  .about {
    flex-direction: column;
  }
  .about-image {
    width: 100%;
    height: 500px;
  }
  .lsi-image {
    display: none;
  }
  .before-last {
    backdrop-filter: blur(20px);
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    & span {
      font-size: .8rem;
    }
  }
  .first-info {
    width: 100%;
  }
  .last-info {
    width: 100%;
    background-image: url("/images/hero-section/2151899858.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 20px;
  }
  .last-info-content  {
    align-items: flex-end;
     background-color: rgba(0, 0, 0, 0.39);
  }
  .last-info-image {
    flex-direction: row;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.39);
  }
  .lsi-content {
    padding: 0;
    & span {
      color: $text-light;
    }
  }
  .text-logo {
    font-size: 6rem;
  }
  .pets-images-hero {
    width: 100% !important;
  }
  .pets-hero-section {
    & h1 {
      font-size: 2rem !important;
    }
  }
}
@media screen and (max-width: 995px) {
  .first-pets-section {
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    align-items: center;
  }
  .first-pets-section-data {
    width: 500px;
  }
  .first-pets-section-data-card {
    width: calc(50% - 5px);
  }
  .second-pets-section {
    flex-wrap: wrap;
  }
  .second-pets-section-data-card-opt {
    width: 100%;
    max-width: 100%;
  }
  .im {
    width: 200px !important;
    height: 300px !important;
  }
  .it {
    width: 300px !important;
    height: 400px !important;
  }
}

@media screen and (max-width: 900px) {
  .main-section-bg-2 {
    display: none;
  }
  .main-section-card {
    width: 200px;
    max-width: 250px;
    height: 200px;
  }
  .main-advantages {
    column-gap: 10px;
    & span {
      font-size: .8rem;
    }
  }
}

@media screen and (max-width: 840px) {
  .articles {
    flex-direction: column;
    row-gap: 30px;
    height: fit-content;
    justify-content: flex-start;
    padding: {
      left: 5px;
      right: 5px;
      top: 5rem;
      bottom: 5rem;
    };
  }
  .articles-block {
    width: 100%;
    border-radius: 20px;
  }
  .articles-title {
    width: 100%;
  }
  .info-articles {
    width: 100%;
    row-gap: 15px;
  }
}

@media screen and (max-width: 830px) {
  .pets-navigation {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    & h3 {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-section {
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    row-gap: 15px;
  }
  .section-cards {
    width: 100%;
    justify-content: center;
  }
  .main-section-card {
    width: 45%;
    max-width: 250px;
    height: 200px;
  }
  .main-section-cards {
    row-gap: 10px;
    width: 100%;
  }
  .title-section-cards {
    & span {
      font-size: 1.5rem;
    }
  }
  .main-section-content {
    row-gap: 20px;
    & h1 {
      font-size: 2rem;
    }
  }
  .target-action-button {
    width: 50px;
    height: 50px;
  }
  .basement-links {
    padding-top: 3rem;
    flex-direction: column;
    padding: 0;
  }
  .text-logo {
    justify-content: flex-start;
    font-size: 4rem;
  }
  .basement {
    padding-left: 1rem;
  }
  .pets-images-hero {
    flex-direction: column !important;
  }
  .im {
    display: none !important;
  }
  .it {
    width: 100% !important;
    height: 400px !important;
    border-radius: 0 !important;
  }
  .pets-hero-section {
    & h1 {
      font-size: 1.5rem !important;
    }
  }
}

@media screen and (max-width: 630px) {
  .articles-count {
    & h5 {
      font-size: 2rem;
      font-weight: 600;
    }
  } 
  .generic-articles {
    & span {
      font-size: .8rem;
    }
    & h5 {
      font-size: 1.5rem;
    }
  }
  .image-paw {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 510px) {
  .first-pets-section-image {
    width: 100%;
  }
  .first-pets-section-data {
    width: 100%;
    justify-content: space-around !important;
  }
  .first-pets-section-data-card {
    width: 100px;
  }
  .pets-bl {
    padding: {
      left: 5px;
      right: 5px;
    };
  }
  .image-wrapper {
    min-height: 0;
    height: 100px;
  }
  .pet-bottom {
    .target-action-button {
      width: 20px;
      height: 20px;
    }
  }
  .pet-bottom {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }
}

@media screen and (max-width: 520px) {
  .info-articles-data {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    padding: {
      top: 20px;
      bottom: 10px;
      left: 10px;
      right: 10px;
    };
  }
  .pets-hero-section {
    & h1 {
      font-size: 1rem !important;
    }
  }
  .image-paw {
    width: 100%;
    height: 200px;
    border-radius: 15px;
  }
  .articles {
    background-position: center;
  }
  .article-item {
    & h4 {
      font-size: 1rem !important;
    }
  }
  .articles-block {
    padding: 0;
  }
  .about-image {
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    & span {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .text-logo {
    font-size: 2rem;
  }
}